# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.pyc
__pycache__/
Server/blueprints/__pycache__/
Server/db_config.json
.venv
venv
env
User_file/
Server/instance/
Server/uploads/
Server/static/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
