@font-face {
    font-family: 'sciencefont';
    src: url(../font/voxelpointdemo-lvo5g.ttf);
}
@font-face {
    font-family: 'superdream';
    src: url(../font/superdreamerdemo-pvoo7.ttf);
}
@font-face {
    font-family: 'emmm';
    src: url(../font/achonkmoderndemoversionregular-xgara.ttf);
}
