/* src/index.css */
:root {
  /* --- 基础底色 --- */
  --bg-color: #0c0707;
  --panel-bg: rgba(255, 255, 255, 0.03);
  --border-color: rgba(255, 255, 255, 0.15);


  --accent-color: #ff4d00;
  --online-color: #2bff00;

  --data-color: #38bdf8;

  /* --- 纯色锚点 --- */
  --solid-white: #ffffff;
  --solid-black: #000000;
  --half-black: #0A0A0A;
  --half-white: #E6E8EB;
  /* --- 文字 --- */
  --text-main: #e2e2e2;
  --text-dim: #bccbd6;
  --text-gray: #888888;
  /* --- 字体 --- */
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', 'Courier New', monospace;

}
body {
  /* 强制应用更大的基准字号 */
  font-size: var(--text-base);
  line-height: 1.6; /* 增加行高，阅读更舒服 */
}
::selection {
  background: var(--accent-color);
  color: white;
}


::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

/* 确保根节点撑满 */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



/* 强制图片带有扫描线效果 */
.satellite-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(40%) contrast(1.2) brightness(0.8); /* 工业冷调 */
  border-left: 1px solid var(--border-color);
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr 450px; /* 右侧稍微宽一点好看 */
  width: 100%;
}

.page-container {
  min-height: 100vh;
}


.desktop-only {
  height: 100%;
  min-height: 800px;
}

.satellite-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(20%) contrast(1.1);
  display: block;
}

/* 手机端隐藏右侧 */
@media (max-width: 900px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }
  .desktop-only {
    display: none;
  }
}
